<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Pour garantir une expérience positive et sécurisée pour tous les membres, veuillez lire et respecter les règles suivantes : </h3>
    <div id="to_respect">
        <section id="1">
            <h3>Respect mutuel</h3>
            <p>Veuillez faire preuve de respect et de courtoisie envers les autres utilisateurs du site en toutes circonstances. Merci d'éviter tout comportement nuisible comme les propos haineux, offensants, diffamatoires ou discriminatoires.</p>
        </section>
        <section id="2">
            <h3>Langage approprié</h3>
            <p>Veuillez exprimer vos idées de manière claire et concise sans utiliser d'abréviations excessives ou langage SMS qui pourraient rendre vos messages difficiles à comprendre.</p>
        </section>
        <section id="3">
            <h3>Respect de la vie privée</h3>
            <p>Ne divulguez en aucun cas vos informations personnelles ou celles d'autres utilisateurs sur le site comme votre adresse postale, votre numéro de téléphone ou autre donnée sensible. Le respect étant mutuel, ne demandez jamais à un autre utilisateur ses données personnelles.</p>
        </section>
        <section id="4">
            <h3>Spam et publicité</h3>
            <p>Ne publiez pas de messages répétitifs, de publicités non autorisées ou de liens vers des sites web douteux.</p>
        </section>
        <section id="5">
            <h3>Contenu approprié</h3>
            <p>Ne publiez pas de contenu obscène, pornographique, illégal, violent ou offensant. Toutes les discussions et les images doivent êtres appropriées pour tous les publics.</p>
        </section>
        <section id="6">
            <h3>Respect des Droits d'Auteur</h3>
            <p>Évitez de publier du contenu protégé par des droits d'auteur sans autorisation. Si vous citez du contenu, attribuez correctement la source.</p>
        </section>
        <section id="7">
            <h3>Éviter le hors-sujet</h3>
            <p>Sur le forum, essayez de rester dans le sujet initial de la discussion et évitez les digressions excessives. Si vous souhaitez aborder un autre sujet, veuillez créer une nouvelle question appropriée.</p>
        </section>
        <section id="8">
            <h3>Éviter le double post</h3>
            <p>Sur le forum, avant de publier, assurez-vous que votre question n'a pas déjà été postée par un autre utilisateur. Diffuser plusieurs fois des contenus identiques pourrait provoquer du désordre et de la confusion.</p>
        </section>
    </div>
</body>
</html>