<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<div id="errors"></div>

<div id="header">
  <a href="/"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="48px" height="48px"><path d="M 23.951172 4 A 1.50015 1.50015 0 0 0 23.072266 4.3222656 L 8.859375 15.519531 C 7.0554772 16.941163 6 19.113506 6 21.410156 L 6 40.5 C 6 41.863594 7.1364058 43 8.5 43 L 18.5 43 C 19.863594 43 21 41.863594 21 40.5 L 21 30.5 C 21 30.204955 21.204955 30 21.5 30 L 26.5 30 C 26.795045 30 27 30.204955 27 30.5 L 27 40.5 C 27 41.863594 28.136406 43 29.5 43 L 39.5 43 C 40.863594 43 42 41.863594 42 40.5 L 42 21.410156 C 42 19.113506 40.944523 16.941163 39.140625 15.519531 L 24.927734 4.3222656 A 1.50015 1.50015 0 0 0 23.951172 4 z M 24 7.4101562 L 37.285156 17.876953 C 38.369258 18.731322 39 20.030807 39 21.410156 L 39 40 L 30 40 L 30 30.5 C 30 28.585045 28.414955 27 26.5 27 L 21.5 27 C 19.585045 27 18 28.585045 18 30.5 L 18 40 L 9 40 L 9 21.410156 C 9 20.030807 9.6307412 18.731322 10.714844 17.876953 L 24 7.4101562 z"/></svg></a>
  <a href="/forum">Accéder au forum</a>

    <div id="user_menu">
      <div id="user_container">
        <div id="user">
            <!--la photo de profil de l'utilisateur ou l'image par défaut-->
            <div id="user_photo">
                <svg id="avatar_SVG" data-name="Calque 2" viewBox="0 0 334 334">
                    <defs>
                      <style>
                        .avatar_1 {
                          fill: #603813;
                        }
                  
                        .avatar_2 {
                          fill: #c69c6d;
                        }
                      </style>
                    </defs>
                    <g id="Calque_1-2" data-name="Calque 1">
                      <rect class="avatar_2" width="334" height="334"/>
                      <circle class="avatar_1" cx="167" cy="104" r="50"/>
                      <path class="avatar_1" d="m167,283.5l-101-.37c.2-55.54,45.73-101.13,101-101.13s101,45.82,101,101.5h-101Z"/>
                    </g>
                </svg>
            </div>

        </div>

        <div id="toggle_user_menu" class="hide">
          <div id="user_access">
            <% if (data.username) { %>
                <a class="welcome_user" href="/utilisateur/about/<%=encodeURIComponent(data.username)%>"><%=data.username%></a>
                <a href="/utilisateur/modifier_profil">Modifier mon profil</a>
                <a href="/chat">Accéder au chat</a>
                <a href="/forum/forum_post">Poster une question sur le forum</a>
                <a href="/utilisateur/mes_messages">Consulter mes messages</a>
                <a href="/utilisateur/message_prive">Envoyer un message privé</a>
                <a href="/clan">Voir les clans</a>
                <a href="/blooper">Espace blagues</a>
                <form id="form_logout">
                    <button type="submit" id="logout_submit">SE DÉCONNECTER</button>
                </form>
            <% } else { %>
                <a href="/utilisateur/nouveau_compte">Créer un compte</a>
                <a href="/login">Se connecter</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>

</div>